body {
    background-color: aqua;
}



form {
    background-color: beige;
    width: 50%;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;


}

#btn {
    color: rgb(255, 255, 255);
    background-color: rgb(108, 22, 189);
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
}

.main {
    display: flex;
    flex-direction: row;

}

.main div {
    border: 1px solid black;
    margin: 2px;
    min-width: 50%;


}

input[type="text"] {
    width: 100%;
    height: 50px;
}